<!DOCTYPE html>
<html>
  <head>
    <title>InTents</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="icon" href="https://djqvcbmmgpti5.cloudfront.net/assets/favicon/favicon-9cc43cec7e138fc384825e625c01a1badc93f8423b14c69006133b609a96bda7.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900&display=swap" rel="stylesheet">
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyAPjYkDq0-iiCd6W5-qCw46J-r0EW39L1U" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
